[submodule "lib/lola"]
	path = libs/lola
	url = https://github.com/MasterQ32/LoLa
[submodule "extern/LoLa"]
	path = extern/lola
	url = https://github.com/MasterQ32/LoLa
[submodule "extern/sdl2"]
	path = extern/sdl2
	url = https://github.com/masterQ32/SDL.zig
[submodule "extern/interface"]
	path = extern/interface
	url = https://github.com/alexnask/interface.zig
[submodule "extern/painterz"]
	path = extern/painterz
	url = https://github.com/ziglibs/painterz
[submodule "extern/args"]
	path = extern/args
	url = https://github.com/MasterQ32/zig-args
